<% @page_title = "Our Advisers" %>
<% @page_description = "New Description" %>

<div class="ipage-header cream simple">
	<div class="inside">
		<h1 class="tmargin0 bmargin0">Our Advisers</h1>
		<h2 class="tmargin0">The PreMed Gurus Advantage</h2>
	</div>
<!-- </div> -->

	<div class="intro">
		<div class="inside narrow">
			<p>Our excellence is built upon the strength of our professional advisers.
			All advisers possess advanced degrees, and bring many years of experience advising and teaching pre-medical students. We have a life-long commitment to helping qualified, deserving applicants reach their goal of a career in medicine.</p>
			<!-- <p>Our excellence is built upon the strength of our professional advisers, each of whom possesses advanced degrees and a life-long commitment to helping qualified, deserving applicants reach their goal of a career in medicine.</p> -->

			<p>
				Our entire staff consults on every applicant’s case, at each step in the process.
				We are committed to assisting motivated, talented individuals become qualified applicants to medical school.
				<!-- We have taught and advised generations of premedical students, in some cases, serving as faculty at medical schools.  -->
				<!-- This experience, supported by our wealth of unique online resources, makes PreMed Gurus the clear choice for premedical advice. -->
			</p>
		</div>
	</div>
</div>

<div class="advise-content">
	<div class="inside lg">
		<div class="listing">
			<h3>Dr. Azita Moalemi, M.D. <br><span>CEO</span></h3>
			<%= image_tag('azita.jpg', class: 'bio-pic', alt: 'PreMed Gurus CEO, Dr. Azita Moalemi, M.D.') %>
			<p>Dr. Moalemi is board certified in Cardiology and Nuclear Cardiology and is a registered vascular interpreter.
			She is a Fellow of the American College of Cardiology.</p>
			<!-- <p>Moalemi.azita@gmail.com<br>703-447-3749</p> -->
			<div class="bio"><a class="gu-link" href="#am-bio" uk-toggle>View Full Bio</a></div>
		</div>

		<div class="listing">
			<h3>William J. (Bill) Higgins, Ph.D. <br><span>Managing Director</span></h3>
			<%= image_tag('bill.png', class: 'bio-pic', alt: 'PreMed Gurus Director, Dr. William J Higgins, Ph.D.') %>
			<p>Dr. William J. Higgins, Ph.D. has taught and advised future physicians for over 45 years. Over 2500 of his former students are now M.D.s or D.O.s.</p>
			<!-- <p>higginsterp@gmail.com<br>301-452-1676</p> -->
			<div class="bio"><a class="gu-link" href="#wjh-bio" uk-toggle>View Full Bio</a></div>
		</div>

		<div class="listing">
			<h3>Brian Higgins, Ph.D. <br><span>Title?</span></h3>
			<%= image_tag('brian.png', class: 'bio-pic', alt: 'PreMed Gurus Advisor, Dr. Brian Higgins, Ph.D.') %>
			<p>Dr. Brian Higgins is an Assistant Professor in the Department of Microbiology, Immunology, and Molecular Genetics at the University of Kentucky College of Medicine.</p>
			<!-- <p>email address?<br>123-456-7890</p> -->
			<div class="bio"><a class="gu-link" href="#bh-bio" uk-toggle>View Full Bio</a></div>
		</div>
	</div>
</div>

<%= render 'static_pages/am-bio' %>
<%= render 'static_pages/wjh-bio' %>
<%= render 'static_pages/bh-bio' %>
