<p>Ready to put PreMed Gurus to work for you?<br> To secure our services, please read the information below.</p>

<ul>
	<li>
		<strong>If you haven't filled out our New Client Information form yet, please <%= link_to "click here", consultation_path, class: 'text-link' %> to do so now.</strong>
		<!-- 	<br>
		You may complete the form online <%= link_to "here", consultation_path, class: 'text-link' %> or
		<%= link_to "click here", "New Client Info Form.pdf", target: '_blank', class: 'text-link' %> to download a copy, and send your completed form to <a class="text-link" href="">info@premedgurus.com</a>. -->
	</li>
  <li>Within two business days of submitting your New Client Information form, PreMed Gurus will email you to set up an introduction and assessment of needed services phone call.</li>
  <li> After the call, you download and complete our Client Contract, linked below. Select your desired service package, and follow the instructions for submitting the initial payment.<br>
  	<span>Fees may be paid in three equal payments during the course of the service delivery.</span></li>
  <!-- <li> After the call, you will select your desired service package, complete our Client Contract, linked below, and follow the instructions for submitting the initial payment.</li> -->
	<li>Consultation will begin within three business days of receiving payment. You will also have access to the online resource, <%= link_to "Gaining Admission to Medical School.", book_details_path, class: 'text-link' %></li>
</ul>



<!-- Prev version -->
<!-- <p>Ready to put PreMed Gurus to work for you?<br> To request our services, please provide the following information.</p>
<p>
	If you haven't filled out our <%= link_to "New Client Information", consultation_path %> form yet, please do so now.
	<br>
	You may complete the form online <%= link_to "here", consultation_path, class: 'text-link' %> or
	<%= link_to "click here", "New Client Info Form.pdf", target: '_blank', class: 'text-link' %> to download a copy, and send your completed form to <a class="text-link" href="">info@premedgurus.com</a>.

  <p>Within two business days of submitting your form, PreMed Gurus will email you to set up an introduction and assessment of needed services phone call. After the call, you will select your desired service package, complete the contract below, and follow the instructions for submitting the initial payment.</p>
-->
